*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Dangrek', cursive;
}

header{
    background-image: url('/img/jumbo.png');
    background-size: cover;
}

.logo{
    margin-top: 25px;
}

.box-flex{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

#nav{
    display: inline-block;
    list-style: none;
    padding: 30px;
    font-size: 20px;
    color: white;
}

#accedi{
    background-color: white;
    border-radius: 20px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 20px;
    border: none;
    font-size: 19px;
}

.box-flex1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    margin: auto;
    text-align: center;
    font-size: 25px;
    padding: 120px 40px 120px 40px;
    color: white;
}

p{
    padding-top: 30px;
}

.button1{
    background-color: white;
    border-radius: 25px;
    padding: 15px 15px;
    border: none;
    font-size: 25px;
    margin-top: 20px;
    margin-right: 15px;
    margin-bottom: 60px;
}

.button2{
    background-color: #23272A;
    color: white;
    border-radius: 25px;
    padding: 15px 15px;
    border: none;
    font-size: 25px;
    margin-top: 20px;
    margin-right: 15px;
    margin-bottom: 60px;
}

.canale-Discord{
    display: flex;
    justify-content: center;
}

.canale-Discord2{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin-top: 150px;
    background-color: lightgray;
    padding: 40px;
}

.canale-Discord3{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.immagine{
    flex-basis: 30%;        
}

.scritta{
    flex-basis: 15%;
    align-self: center;
    font-size: 28px;
}

.immagine-2{
    flex-basis: 10%;        
}

.scritta-2{
    flex-basis: 28%;
    align-self: center;
    font-size: 28px;
}

.canale-Discord4{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    background-color: lightgray;
    padding: 40px;
}

.scritta-3{
    align-self: center;
    font-size: 25px;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

.immagine-3{
    align-self: center;
}

h2{
    font-size: 30px;
    text-align: center;
    color: #7289DA;
}

.button3{
    background-color: #7289DA;
    color: white;
    border-radius: 25px;
    padding: 15px 20px;
    border: none;
    font-size: 20px;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 60px;
    width: 10%;
}

footer{
    display: flex;
    margin: auto;
    background-color: #23272A;
}

.bandiera{
    width: 7%;
    margin-top: 4%;
}

.column{
    padding: 5%;
}

li{
    list-style: none;
    padding: 10px;
    font-size: 20px;
    color: white;
}

#titolo{
    color: #7289DA;
}

span{
    color: white;
}

#logo2{

}

.fine-pagina{
    display: flex;
    justify-content: space-between;
    background-color: #23272A;
    border-top: 2px solid #7289DA;
    padding-top: 20px;
}

#registrati{
    background-color: #7289DA;
    border-radius: 20px;
    padding: 15px 15px;
    margin: 20px;
    border: none;
    color: white;
}

